In [2]:
import pandas as pd
df = pd.read_csv("C:\Users\mgaddis\Documents\GitHub\Data\NCAA\RegularSeasonCompactResults.csv")
print (df.head())

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [4]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,139920.000000,139920.000000,139920.000000,139920.000000,139920.000000,139920.000000,139920.000000
mean,2001.021312,75.388872,1286.627937,76.535256,1283.003845,64.426787,0.043082
std,8.957395,33.189518,104.567622,12.216744,104.901410,11.393049,0.243561
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1993.000000,47.000000,1197.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1283.000000,76.000000,1281.000000,64.000000,0.000000
75%,2009.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2015.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

In [3]:
import sklearn as sk